<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    <h1>Detalhes dos Items</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Investimentos</th>
            <th>Valor</th>
            <th>Pago</th>
            <th>Data</th>
        </tr>

        <tr>
            <td>{{ dados.id }}</td>
            <td>{{ dados.Investimento }}</td>
            <td>{{ dados.valor }}</td>
            <td>{{ dados.pago }}</td>
            <td>{{ dados.data }}</td>
        </tr>
    </table>
</body>
</html>