<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Investimentos</title>
</head>
<body>
    <h1>Lista do meus investimentos!</h1>
    <button><a href="{% url 'novo_investimento' %}">Novo Item</a></button>
    <table>
        <tr>
            <th>Id</th>
            <th>Investimentos</th>
            <th>Valor</th>
            <th>Pago</th>
            <th>Data</th>
        </tr>

        {% for dado in dados %}
        <tr>
            <td>{{ dado.id }}</td>
            <td>{{ dado.Investimento }}</td>
            <td>{{ dado.valor }}</td>
            <td>{{ dado.pago }}</td>
            <td>{{ dado.data }}</td>
            <td><button><a href="{% url 'detalhes' dado.id %}">Detalhes</a></button></td>
            <td><button><a href="{% url 'editar' dado.id %}">Editar</a></button></td>
            <td><button><a href="{% url 'excluir' dado.id %}">Excluir</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>