<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% extends 'Investimentos/base.html' %}               
    {% block conteudo %}  
    {% load crispy_forms_tags %}      

    <div class="container" style="padding: 30px;">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-primary" type="submit">Fazer Login</button>
            <span>Não possui uma conta? <a href="{% url 'novo_usuario' %}">Faça o cadastro aqui.</a></span>
        </form>
    </div>

    {% endblock %}
</body>
</html>